---
title: Alexandra Volokhova
---
<div class="container_bio">
    <!--<div class="left_column">-->
        <img src="{{ '/assets/images/profile_photo.jpg' | relative_url }}" class="author__avatar"/>
    <!--</div>-->

    <!--<div class="right_column">-->
        <h1>Hi! I'm Alexandra</h1>
    <p>I’m curious about creating intelligent machines that will be able to assist people in solving a variety of challenging tasks.
        As an AI researcher, I want to develop intelligent systems, strengthening their
        applications for social good and hindering their abuse.
        I have a strong belief that we can make our society more sustainable and fairer with education, science, and open-mindedness.
    </p>
    <p>
        Thus, I’m a PhD student at <a href="https://mila.quebec/en/">Mila</a> &
        <a href="https://www.umontreal.ca">Université de Montréal</a> happy to work with
        <a href="https://yoshuabengio.org">Prof. Yoshua Bengio</a>. My research interests are evolving and currently they include generative models, neural ODEs,
        bayesian methods, causality.
    </p>
        <p>Link to <a href="https://drive.google.com/file/d/1bCA_UiBXuRjzIpQmdsHm82bRkLuOKQOS/view?usp=sharing">my CV</a>.</p>
    <!--</div>-->
</div>

<hr>

<h1>

    Publications</h1>
<ul class="no_bullet_ul">
    {% assign sorted_pub = site.publications | sort: 'post_date' | reverse %}
    {% for pub in sorted_pub %}
    <div class="pub_item">
        <li>
            <h3><a href="{{ pub.paper_link }}">{{ pub.title }}</a></h3>
            {{ pub.authors }}
            <br>
            {{ pub.published }}
            {% if pub.code_link != nil %}
            <br>
            <a href="{{ pub.code_link }}">code</a>
            {% endif %}
        </li>
    </div>
  {% endfor %}
</ul>

<hr>

<h1>Teaching</h1>

<ul>
    <li>
        <a href="https://yandexdataschool.com">YSDA</a>: Bayesian methods in Machine Learning, fall 2020, practical sessions instructor
    </li>
    <li>
        <a href="https://www.hse.ru/en/edu/courses/292689583">HSE: Machine Learning 1</a>, fall 2019, practical sessions instructor
    </li>
    <li>
        <a href="https://yandexdataschool.com">YSDA</a>: Bayesian methods in Machine Learning, fall 2019, practical sessions instructor
    </li>
    <li>
        <a href="https://www.hse.ru/en/edu/courses/219874733">HSE: Introduction to programming</a>, fall 2018, practical sessions instructor
    </li>
    <li>
        MIPT Olympiad summer school, summer 2016, teaching assistant
    </li>
</ul>

<hr>

<h1>Awards</h1>

<ul>
    <li>
        <a href="https://admission.umontreal.ca/en/scholarship-for-international-students/">UdeM Exemption Scholarship for International Students</a> (September 2021 - Present)
    </li>
    <li>
        Increased State Academic Scholarship (September 2019 - August 2020)
    </li>
    <li>
        Best Poster Award, <a href="https://www.eeml.eu/previous-editions/eeml19">EEML summer school</a> (July 2019)
    </li>
    <li>
        Increased State Academic Scholarship (September 2017 - January 2018)
    </li>
    <li>
        <a href="http://phystech-foundation.org/en/foundation_"> Scholarship of Charitable Foundation for the Development of Innovation Education</a> (February 2015 - January 2016,
        September 2016 - July 2017)
    </li>
</ul>

<hr>

<h1>Talks & Presentations</h1>

<div class="video_row">
    <div class="video_column">
        <iframe width="100%"
                src="https://www.youtube.com/embed/SmZ_sgGXkOs">
        </iframe>
        Video-poster about our paper "Stochasticity in Neural ODEs: An Empirical Study", Jul 2020
    </div>
    <div class="video_column">
        <iframe width="100%"
                src="https://www.youtube.com/embed/_ALdCSSVYkw">
        </iframe>
        My talk on Continuous Normalizing flows at BayesGroup research seminar, Feb 2019
        <a href="https://drive.google.com/file/d/1p2un2TYRe7zIZjvFDFNaueRU89UtPVSc/view">(slides)</a>
    </div>
</div>

<br>
<ul>
    <li>
        An Empirical Study of Neural ODEs,
        <a href="https://drive.google.com/file/d/1xsTSh3Pbnn86N4uahyl4obKt_2zKK25i/view?usp=sharing">
            poster</a>
        at DLRL Summer School, August 2020
    </li>
    <li>
        Neural ODE and Hamiltonian Systems, talk at the Workshop on Physics inspired Machine Learning, HSE, January 2020
        <a href="https://drive.google.com/file/d/1x1JqbFFay9s0ETnqsaJguj2JS-LMKtqA/view?usp=sharing"> (slides)</a>
    </li>
    <li>
        Semi-Conditional Normalizing Flows for Semi-Supervised Learning,
        <a href="https://drive.google.com/file/d/1a5ujVrSWwMi7RSz5zN5wiqycVkbjaQ6L/view?usp=sharing">poster</a>
        at AI Journey Conference, Moscow, November 2019
    </li>
    <li>
        Neural ODE and FFJORD. Reproducition and extension of experiments,
        <a href="https://drive.google.com/file/d/1jgshJJO_41POT8Q7PkeOB2hBmoh60Cab/view?usp=sharing">poster</a>
        at EEML Summer School, July 2019
    </li>
    <li>
        Neural Ordinary Differential Equations, talk at ML workshop, HSE Study Center ”Voronovo”, June 2019
        <a href="https://drive.google.com/file/d/1KmdBTC9R9MUIQYPm-zz4Kcr2JbqWtzMY/view?usp=sharing">(slides)</a>
    </li>
    <li>
        Neural Ordinary Differential Equations, talk at DataFest Conference, Moscow, May 2019,
        <a href="https://drive.google.com/file/d/1yAPSTX1P_sax2WMGaXE1sTt0eFMbbogv/view?usp=sharing">(slides)</a>
    </li>
    <li>
        Machine Learning and Artificial Intelligence, lecture for schoolchildren, Moscow, March 2019,
        <a href="https://drive.google.com/file/d/13Hm6CjPdHTM1tNsBndK41weLXIwrBY_9/view?usp=sharing">(slides in Russian)</a>
    </li>
</ul>

<hr>

<h1>Activities</h1>
<img src="{{ '/assets/images/nash_dom.jpg' | relative_url }}" class="nash_dom_photo"/>

<p>
    I'm happy to work with children as a volunteer at the Russian Janusz Korczak Youth Center.
            The main goal of our Center is the development of humanistic and inclusive education in Russia.
            We organize the integration children’s camp ”Nash Dom” (that means "our home" in Russian),
            where we work with both ordinary children and children with disabilities.
            <a href="http://nashdomcamp.ru/o-nas.html">More information about the Center (in Russian).</a>
</p>

<p>
    One of my passions is art, so several years ago I graduated from the
    <a href="http://eng.nicole-design.ru">International School of Floristic Design ”Nikole”</a>
    as a master of design and floristics. Although I've never been working as a designer,
    I like drawing from time to time and share my sketches on <a href="https://www.instagram.com/alexandra_volokhova/">Instagram</a>.
</p>

<img src="{{ '/assets/images/mountains_1.JPG' | relative_url }}" class="mountains_photo"/>

<p>
    I deeply love our planet and all its inhabitants, so I'm vegan and in my spare time, I take part in various ecological activities.
    Also, I like spending my vacations hiking around the Siberian mountains and Kamchatka's volcanoes with my family and friends.
</p>






